body {
  background-color: #f1f1f1;
}
.media-card {
  background-color: white;
  width: 400px;
  height: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  -webkit-box-shadow: -1px 7px 19px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 7px 19px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 7px 19px -4px rgba(0, 0, 0, 0.75);
  &__profile {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__name {
    margin-left: 20px;
  }
  &__img {
    width: 120px;
    border-radius: 120px;
  }
  &__footer {
    color: grey;
    display: flex;
    justify-content: space-between;
  }
  &__heart {
    color: red;
  }
}
